.hero .container  {
    // margin-left: 20px;
    // margin-right: 20px;
    padding: 115px 85px;
    background-image: url("../img/coffe.about.png");
    background-size: 1290px 450px;
    background-repeat: no-repeat;
    border-radius: 10px;
}



.hero__item {
    max-width: 445px;
}

.hero__heading {   
font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FEFCF7;
}

.hero__desc{
font-family:'Barlow';
font-style: normal;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
}


@media only screen and (max-width: 768px) {

     .container {
         margin-left: 20px;
         margin-right: 20px;
     }
   
    .hero .container {
        margin-left: 20px;
        margin-right: 20px;
        // padding: 115px 85px;
        background-image: url("../img/tablet.jpg");
        background-size: 760px 450px;
        background-repeat: no-repeat;
        border-radius: 10px;
        padding-left: 58px;
        


       &__item {
           max-width: 398px;
       }

    }

       .hero__heading  {
        font-size: 32px;
        line-height: 40px;
       }

       .hero__desc {
        font-size: 15px;
        line-height: 25px; 
        opacity: 0.8;
       } 
}

@media only screen and (max-width: 375px) {
      .hero .container {
        margin-left: 10px;
        margin-right: 10px;
        background-image: url("../../img/moblini.jpg");
        background-size: 375px 450px;
        background-repeat: no-repeat;
        border-radius: 10px;
        padding-left: 15px;
        padding-top: 100px 24px;
      }

    .hero__item {
        max-width: 320px;
        text-align: center;
       
    }

    .hero__heading {
       font-size: 28px;
       line-height: 28px;
    }

    .hero__desc {
      max-width: 279px;
      padding: 0; 
      font-size: 15px;
      line-height: 25px;
    

    }

}